html,
body {
  margin: 0 50px;
  height: 100vh;
  padding-top: 30px;
  font-family: sans-serif;
  color: rgb(0, 0, 0);
  background: radial-gradient(125% 125% at 50% 10%, #fff 40%, #7c3aed 100%);
  background-attachment: fixed;
}

.container {
  display: flex;
  gap: 50px;
}
#post {
  width: 500px;
}
#post div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.options {
  display: flex;
  gap: 25px;
}
i {
  cursor: pointer;
}
#input {
  border: solid blueviolet;
  background-color: #cdb9f0;
}
.btn {
  background-color: #9e70ed;
  height: 40px;
  width: 100px;
  cursor: pointer;
}
